<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="author" content="Renan Breno">
	
    <title>jobbble</title>
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/png">
	<link rel="stylesheet" href="assets/css/themify-icons.css">
	<link rel="stylesheet" href="assets/css/styles.css">
</head>
<body ng-app="jobbble">
	<main ng-controller="shotsController">
		<!--
			if this input is :checked will change the shots size
		-->
		<input type="checkbox" id="check-shots-size" class="hidden" autocomplete="false">
		<header>
			<div class="container">
				<h1>jobbble</h1>
				<form onSubmit="return false">
					<!--
						filter the listed shots by arguments
					-->
					<input type="text" id="search" ng-model="shotsSearch" placeholder="Search for a shot">
				</form>
				<!--
					check #check-shots-size
				-->
				<label for="check-shots-size">
					<i class="ti-layout-grid3-alt"></i>
					<span class="switch"></span>
					<i class="ti-layout-grid2-alt"></i>
				</label>
			</div>
		</header>
		<ul class="shots container">
			<!--
				ng-repeat display all shots
			-->
			<li ng-repeat="shot in shots | filter : shotsSearch">
				<!--
					check #check-popup
				-->
				<label for="check-popup" ng-click="openShot(shot.id)">
					<img src="{{shot.images.normal}}" alt="{{shot.title}}" title="{{shot.title}}">
					<span>{{shot.title}}</span>
				</label>
			</li>
		</ul>
		<!--
			if it's :checked will open popup with more info
		-->
		<input type="checkbox" id="check-popup" class="hidden" autocomplete="false">
		<!--
			overlay close popup
		-->
		<label for="check-popup" class="overlay"></label>
		<section class="popup container">
			<label for="check-popup" class="popup-close"><i class="ti-close"></i></label>
			<div class="content">
				<!--
					if there is images.hidpi (better quality) display itself or normal quality if not
				-->
				<img ng-if="shotDetails.images.hidpi != null" src="{{shotDetails.images.hidpi}}" class="hidpi" alt="{{shotDetails.title}}" title="{{shotDetails.title}}">
				<img ng-if="shotDetails.images.hidpi == null" src="{{shotDetails.images.normal}}" class="normal" alt="{{shotDetails.title}}" title="{{shotDetails.title}}">
				<div class="details">
					<h2>{{shotDetails.title}}</h2>
					<!--
						remove html tags
					-->
					<p ng-if="shotDetails.description != null">{{shotDetails.description | htmlToPlaintext}}</p>
					<!--
						add class Liked if its already liked or Like if not
					-->
					<a class="{{shotDetails.button || 'Like'}}" ng-click="likeShot()">{{shotDetails.button || 'Like'}}</a>
				</div>
			</div>
		</section>
	</main>

	<script src="bower_components/angular/angular.js"></script>
	<script src="assets/js/main.js"></script>
</body>
</html>